.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
}

#lgn_dash {
 margin-left: 90%;
 position: absolute;
}

.nav-bar-highlight {
  font-weight: bold;
 }

 mat-expansion-panel-header {
   width: 100%;
   left: 0px;
   padding-left: 0px;
 }

.mat-nav-list .mat-list-item {
  width: 100%;
}
