<mat-card>
  <mat-card-title>Generate Letter</mat-card-title>
  <mat-form-field>
    <input matInput [(ngModel)]="memberName" placeholder="Member Name"  [formControl]="ctrlMem">
  </mat-form-field>
  <br />
  <mat-form-field>
    <textarea matInput rows="15" [(ngModel)]="content" placeholder="Letter Content"></textarea>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-select [(ngModel)]="fontSize" placeholder="Font Size" [(value)]="selectedSize">
      <mat-option value="10">10</mat-option>
      <mat-option value="12">12</mat-option>
      <mat-option value="14">14</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="orientation" placeholder="Orientation" [(value)]="selectedOri">
      <mat-option value="p">Portrait</mat-option>
      <mat-option value="l">Landscape</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button disabled mat-raised-button color="accent" *ngIf="loading" ><mat-spinner [diameter]="35" class = "save-spinner" *ngIf="loading"></mat-spinner></button>
    <button mat-raised-button color="accent" *ngIf="!loading" (click)="downloadPDF()" type="button">Generate and Download</button>
  </div>
</mat-card>
