.signup_card {
  margin: 0px auto;
  margin-top: 10%;
}

.mem_id {
  width: 100%;
}

.pass {
  width: 100%;
}

.con_pass {
  width: 100%;
}

.lbl_signup {
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 20px;
  color: blueviolet;
}
