<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Accounts</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/accounts-dash']" routerLinkActive="nav-bar-highlight">Summary</a>
      <a mat-list-item [routerLink]="['/accounts-all']" routerLinkActive="nav-bar-highlight">Accounts</a>
      <a mat-list-item [routerLink]="['/accounts-add']" routerLinkActive="nav-bar-highlight">Add Account</a>
      <a mat-list-item [routerLink]="['/transactions-all']" routerLinkActive="nav-bar-highlight">Transactions</a>
      <a mat-list-item [routerLink]="['/transactions-add']" routerLinkActive="nav-bar-highlight">Add Transaction</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <div>
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
