.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

#content{
  padding: 30px 10px;
}

.card{
  padding: 40px 10px;
  text-align: center;
  border-color: blueviolet;
  margin-left: 20px;
}

mat-nav-list {
  flex-grow: 1;
  overflow: auto;
}
